In [1]:
import pandas as pd
import numpy as np
import requests
import os
from random import sample
import re

# Gather

Code for downloading Udacity's Dog Prediction Data

In [2]:
#url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
#r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [3]:
# make a directory if one does not already exist
#folder_name = 'dog_predictions'
#if not os.path.exists(folder_name):
    #os.makedirs(folder_name)

In [4]:
#with open(os.path.join(folder_name, 
                           #url.split('/')[-1]), mode='wb') as file:
             #file.write(r.content)

Initializing All Relevant Datasets

In [5]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
twitter_archive;

In [6]:
predicts = pd.read_csv('dog_predictions/image-predictions.tsv', sep='\t')
predicts;

In [7]:
twitter_api = pd.read_csv('twitter_api_data.csv')
twitter_api;

# Assess

### Documented Issues

`twitter_archive`
#### Quality
- timestamp is a string and not datetime
- text column irrelevant material
- 137 duplicate posts, possible because they are reposted? many duplicates have the tag "RT @dog_rates: " before
- texts must be stripped of "RT @dog_rates: "
- There are 42 instances where categorical variables are found in the text, but are not accurately accounted for in the categorical columns
- There are 109 instances where the name column is not accurate, (ex: index 542 name is considered "incredibly" since text before contains "incredible"), and an incorrect name is in place.
    - I recognize that it is an oversight that I cannot test whether or not a name is missed because I do not yet have knowledge of a language processing library.
- Missing rows in "in_reply_to_status_id" "in_reply_to_user_id" "retweeted_status_id" "retweeted_status_user_id" "retweeted_status_timestamp"
- Ratings may contain floats. Texts needs to be checked again
- change id to string
- drop expanded url and source, as they are incomplete and not useful for analysis

#### Tidiness
- text column contains a source variable for the tweet
- dog "ages/types" (floofer, pupper etc.) should be single, categorial column

`predicts`
#### Quality
- prediction dog breeds have inconsistent casing
- column titles should be be full names
- change id to string
- extract predictions for images where predictions are both dogs and above 70% confidence
    - If our confidence level is too low, then our statements become less meaningful. However, because I am not sure how to test the accuracy of the predictions, I will choose a lowish confidence level since I am aware that many of the pictures will contain dogs.

#### Tidiness
 

`twitter_api`
#### Quality
- change id to string (should have done this when extracting)

#### Tidiness
- tables need to be reorganized
    - 1 for souce metadata (urls

In [8]:
pd.set_option('display.max_colwidth', -1)

### twitter_archive

#### Visual Assessment

In [9]:
#to be used for visual assessments. Supressed to save space.
twitter_archive.sample(5);

In [10]:
twitter_archive.source.unique()

array(['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'],
      dtype=object)

In [11]:
#no duplicated values
list(twitter_archive.text.duplicated()).count(True)

0

In [12]:
#to be used for visual assessments. commented out to save space
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [13]:
#investigating max values for numerator/denominator
twitter_archive.describe();

#### Function(s) used for progrmattic assessment

In [14]:
def category_accuracy(df, columns_list):
    '''category_accuracy parses through the texts column of a dataframe and checks if the information matches
    the values of the categorical columns, GIVEN that the text is used as the categorical variable source
    and categorical column values are the same as column header.
    Restrictions: text column must be called "text".
    Returns: category_accuracy returns the index of rows where the categorical values do not match the text'''
    offending_rows = []
    # matching text with other columns
    #itterate through df
    for index, row in df.iterrows():
        match = []
        #current values in columns
        secondary = [row[column] for column in columns_list]
        #going through every word and checking for classification qualification
        source = row.text.split()
        for word in source:
            match += [value for value in columns_list if value in word and pd.notnull(word) and word != 'None']
    #checking for accuracy
        #if there was more than one match, was it accurate?
        if len(match)> 0:
            test = []
            #this loops checks to see if the row value is the same as the matched value
            for current in secondary:
                for i in match:
                    test.append(i == current)
            # if there are less correct than actual matches, then there is an inaccurate column.
            if test.count(True) < len(match):
                offending_rows.append(index)
    return offending_rows

### Parsing Text for Accuracy

In [15]:
#category_accuracy(df, columns)
offending_categorical_rows = category_accuracy(twitter_archive, ['doggo', 'floofer', 'pupper', 'puppo'])
print('The number of instances where doggo, floofer, pupper, and puppo is found in the text, but does not have the correct value is: ', len(offending_categorical_rows))

The number of instances where doggo, floofer, pupper, and puppo is found in the text, but does not have the correct value is:  42

In [16]:
print('The list of offending rows: ', offending_categorical_rows)

The list of offending rows:  [54, 83, 85, 106, 134, 172, 228, 268, 274, 296, 302, 475, 477, 545, 798, 934, 946, 987, 993, 1027, 1093, 1120, 1220, 1228, 1254, 1265, 1351, 1516, 1634, 1635, 1636, 1643, 1710, 1712, 1743, 1826, 1843, 1847, 1862, 1900, 1928, 2141]

In [17]:
#investigate offending rows. Rows had issues. Code has been commented out to save space.
#for i in offending_categorical_rows:
    #display(twitter_archive[twitter_archive.index == i])

### Checking Names Column

Since names are capitalized, names that are lowercase will be flagged as they will likely not be actual names.

In [18]:
#demonstrating regular names
regular_names = []
for name in twitter_archive.name:
    if name[0].isupper() and name != 'None' and pd.notnull(name):
        regular_names.append(name)
sample(regular_names, 20)

['Kody',
 'Scooter',
 'Mac',
 'Eli',
 'Rumble',
 'Derek',
 'Terrenth',
 'Maks',
 'Sunny',
 'Gary',
 'Belle',
 'Vinscent',
 'Harlso',
 'Lupe',
 'Buddy',
 'Pablo',
 'Luna',
 'Lenny',
 'Bella',
 'Ralpher']

In [19]:
#flagging lowercase names and index
incorrect_names = []
for index, row in twitter_archive.iterrows():
    if row['name'][0].islower() and row['name'] != 'None' and pd.notnull(row['name']):
        incorrect_names.append((row['name'], index))
incorrect_names
#len(incorrect_names) returns 109 instances

[('such', 22),
 ('a', 56),
 ('quite', 118),
 ('quite', 169),
 ('quite', 193),
 ('not', 335),
 ('one', 369),
 ('incredibly', 542),
 ('a', 649),
 ('mad', 682),
 ('an', 759),
 ('very', 773),
 ('a', 801),
 ('very', 819),
 ('just', 822),
 ('my', 852),
 ('one', 924),
 ('not', 988),
 ('his', 992),
 ('one', 993),
 ('a', 1002),
 ('a', 1004),
 ('a', 1017),
 ('an', 1025),
 ('very', 1031),
 ('actually', 1040),
 ('a', 1049),
 ('just', 1063),
 ('getting', 1071),
 ('mad', 1095),
 ('very', 1097),
 ('this', 1120),
 ('unacceptable', 1121),
 ('all', 1138),
 ('a', 1193),
 ('old', 1206),
 ('a', 1207),
 ('infuriating', 1259),
 ('a', 1340),
 ('a', 1351),
 ('a', 1361),
 ('an', 1362),
 ('a', 1368),
 ('a', 1382),
 ('very', 1385),
 ('getting', 1435),
 ('just', 1457),
 ('a', 1499),
 ('the', 1527),
 ('the', 1603),
 ('actually', 1693),
 ('by', 1724),
 ('a', 1737),
 ('officially', 1747),
 ('a', 1785),
 ('the', 1797),
 ('the', 1815),
 ('a', 1853),
 ('a', 1854),
 ('a', 1877),
 ('a', 1878),
 ('life', 1916),
 ('a', 1923),
 ('one', 1936),
 ('a', 1941),
 ('a', 1955),
 ('a', 1994),
 ('light', 2001),
 ('just', 2019),
 ('space', 2030),
 ('a', 2034),
 ('the', 2037),
 ('a', 2066),
 ('a', 2116),
 ('a', 2125),
 ('a', 2128),
 ('a', 2146),
 ('a', 2153),
 ('a', 2161),
 ('a', 2191),
 ('a', 2198),
 ('an', 2204),
 ('a', 2211),
 ('the', 2212),
 ('a', 2218),
 ('a', 2222),
 ('a', 2235),
 ('a', 2249),
 ('a', 2255),
 ('a', 2264),
 ('a', 2273),
 ('a', 2287),
 ('a', 2304),
 ('a', 2311),
 ('a', 2314),
 ('quite', 2326),
 ('a', 2327),
 ('an', 2333),
 ('a', 2334),
 ('an', 2335),
 ('the', 2345),
 ('the', 2346),
 ('a', 2347),
 ('a', 2348),
 ('an', 2349),
 ('a', 2350),
 ('a', 2352),
 ('a', 2353),
 ('a', 2354)]

## predicts

In [20]:
predicts.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1933,859607811541651456,https://pbs.twimg.com/media/C-3wvtxXcAUTuBE.jpg,1,golden_retriever,0.895529,True,Irish_setter,0.024099,True,Labrador_retriever,0.019285,True
1400,768609597686943744,https://pbs.twimg.com/media/CqqmWa7WcAAIM-n.jpg,1,basenji,0.183283,True,Italian_greyhound,0.136012,True,whippet,0.060130,True
1907,852553447878664193,https://pbs.twimg.com/media/C9Tg1bPW0AkAMDI.jpg,1,bloodhound,0.186498,True,Brabancon_griffon,0.139028,True,Rottweiler,0.125940,True
362,672834301050937345,https://pbs.twimg.com/media/CVZjOktVAAAtigw.jpg,1,Pembroke,0.582560,True,Cardigan,0.258869,True,nipple,0.033835,False
1973,869702957897576449,https://pbs.twimg.com/media/DBHOOfOXoAABKlU.jpg,1,Pembroke,0.993449,True,Cardigan,0.006325,True,Chihuahua,0.000178,True

In [21]:
predicts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

## twitter_api

In [22]:
twitter_api.sample(5)

,id,favorite_count,retweet_count,expanded_url
1041,743980027717509120,4269,1126,https://twitter.com/dog_rates/status/743980027717509120/photo/1
1468,694206574471057408,4268,2082,https://twitter.com/dog_rates/status/694206574471057408/photo/1
1825,676470639084101634,11707,4717,https://twitter.com/dog_rates/status/676470639084101634/photo/1
1665,682750546109968385,1552,449,https://twitter.com/dog_rates/status/682750546109968385/photo/1
2115,670428280563085312,1367,613,https://twitter.com/dog_rates/status/670428280563085312/photo/1

In [23]:
twitter_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 4 columns):
id                2356 non-null int64
favorite_count    2356 non-null object
retweet_count     2356 non-null object
expanded_url      2299 non-null object
dtypes: int64(1), object(3)
memory usage: 73.7+ KB

# Clean

Creating Cleaning Copies

In [24]:
twitter_archive_clean = twitter_archive.copy()

In [25]:
predicts_clean = predicts.copy()

In [26]:
twitter_api_clean = twitter_api.copy()

### Twitter Archive

#### Quality
- timestamp is a string and not datetime
- text column irrelevant material
- 137 duplicate posts, possible because they are reposted? many duplicates have the tag "RT @dog_rates: " before
- texts must be stripped of "RT @dog_rates: "
- There are 42 instances where categorical variables are found in the text, but are not accurately accounted for in the categorical columns
- There are 109 instances where the name column is not accurate, (ex: index 542 name is considered "incredibly" since text before contains "incredible"), and an incorrect name is in place.
    - I recognize I cannot test whether or not a name is missed because I do not have knowledge of a language processing library. Thus there may be names that are incorrect but undetectable
- Missing rows in "in_reply_to_status_id" "in_reply_to_user_id" "retweeted_status_id" "retweeted_status_user_id" "retweeted_status_timestamp"
- Ratings may contain floats. Texts needs to be checked again
- change id to string
- drop expanded url and source, as they are incomplete and not useful for analysis
- tweet_id: 881633300179243008 contains two ratings, the latter is the correct one

#### Tidiness
- text column contains a source variable for the tweet
- dog "ages/types" (floofer, pupper etc.) should be single, categorial column

#### Define 
Use astype to change timestamp to timedate

#### Code

In [27]:
twitter_archive_clean.timestamp = pd.to_datetime(twitter_archive.timestamp)

#### Test

In [28]:
#timestamp was successfully changed to datetime, commented for space
#twitter_archive_clean.info()

#### Define
Use str.replace to remove unwanted url from text column

#### Code

In [29]:
#testing
twitter_archive.text[0]

"This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU"

In [30]:
#regex citation: https://stackoverflow.com/questions/6038061/regular-expression-to-find-urls-within-a-string
#regex expression has been altered to work with the dataset (elipses and other perumutations have been added)
#includes characacters :// 
#([\w_-]+(?:(?:\.[\w_-]+)+))groups combonations of "alphanumeric.alphanumeric"
#([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])? groups combonations of alphanumeric and special symbols
text = re.sub(r'(\\n\\nhttps|http|ftp|https)([:…/]+)([\w_…-]*(?:(?:\.[\w_…-]*)*))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-…]*)?', '', twitter_archive.text[0], flags = re.MULTILINE)
text

"This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 "

In [31]:
twitter_archive_clean.text = twitter_archive_clean.text.str.replace(r'(\\n\\nhttps|http|ftp|https)([:…/]+)([\w_…-]*(?:(?:\.[\w_…-]*)*))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-…]*)?', '');

#### Test

In [32]:
[i for i in twitter_archive_clean.text if 'https' in i]

[]

In [33]:
#urls removed, supressed for space
twitter_archive_clean.text;

In [34]:
twitter_archive_clean.sample(5);

#### Define
Remove "RT @dog_rates: " replace

#### Code

In [35]:
twitter_archive_clean.text = twitter_archive_clean.text.str.replace(r'(RT @dog_rates: )', '');

#### Test

In [36]:
for i in twitter_archive_clean.text:
    if 'RT @dog_rates: ' in i:
        print(i)

#### Define
Drop Duplicates tweets. Although they might have different meta data, they are still the same "tweet" and having duplicates will alter the analysis

#### Code

In [37]:
#investigate duplicates?
list(twitter_archive_clean.text.duplicated()).count(True)

137

In [38]:
#dropping all duplicates based on text data
twitter_archive_clean.drop_duplicates('text', keep = 'first', inplace = True)
twitter_archive_clean.reset_index(inplace = True)

#### Test

In [39]:
#former shape was 2356. 2356 - 2219 = 137
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219 entries, 0 to 2218
Data columns (total 18 columns):
index                         2219 non-null int64
tweet_id                      2219 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2219 non-null datetime64[ns, UTC]
source                        2219 non-null object
text                          2219 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2160 non-null object
rating_numerator              2219 non-null int64
rating_denominator            2219 non-null int64
name                          2219 non-null object
doggo                         2219 non-null object
floofer                       2219 non-null object
pupper                        2219 non-null object
puppo                         2219 non-null object
dtypes: datetime64[ns, UTC](1), float64(4), int64(4), object(9)
memory usage: 312.1+ KB

#### Define
Investigate and fix innacurate classification, using modified categorical_accuracy function

#### Code

In [40]:
for i in offending_categorical_rows:
    display(twitter_archive_clean[twitter_archive_clean.index == i])

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
54,55,881633300179243008,8.816070e+17,47384430.0,2017-07-02 21:58:53+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
83,85,876120275196170240,NaN,NaN,2017-06-17 16:52:05+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Venti, a seemingly caffeinated puppoccino. She was just informed the weekend would include walks, pats and scritches. 13/10 much excite",NaN,NaN,NaN,https://twitter.com/dog_rates/status/876120275196170240/photo/1,13,10,Venti,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
85,87,875144289856114688,NaN,NaN,2017-06-15 00:13:52+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Nugget and Hank. Nugget took Hank's bone. Hank is wondering if you would please return it to him. Both 13/10 would not intervene,NaN,NaN,NaN,https://twitter.com/dog_rates/status/875144289856114688/video/1,13,10,Nugget,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
106,108,871515927908634625,NaN,NaN,2017-06-04 23:56:03+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Napolean. He's a Raggedy East Nicaraguan Zoom Zoom. Runs on one leg. Built for deception. No eyes. Good with kids. 12/10 great doggo,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/871515927908634625/photo/1,https://twitter.com/dog_rates/status/871515927908634625/photo/1",12,10,Napolean,doggo,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
134,139,865359393868664832,NaN,NaN,2017-05-19 00:12:11+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Sammy. Her tongue ejects without warning sometimes. It's a serious condition. Needs a hefty dose from a BlepiPen. 13/10,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/865359393868664832/photo/1,https://twitter.com/dog_rates/status/865359393868664832/photo/1",13,10,Sammy,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
172,177,857393404942143489,NaN,NaN,2017-04-27 00:38:11+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Instead of the usual nightly dog rate, I'm sharing this story with you. Meeko is 13/10 and would like your help \n\n",NaN,NaN,NaN,"https://www.gofundme.com/meeko-needs-heart-surgery,https://twitter.com/dog_rates/status/857393404942143489/photo/1,https://twitter.com/dog_rates/status/857393404942143489/photo/1,https://twitter.com/dog_rates/status/857393404942143489/photo/1,https://twitter.com/dog_rates/status/857393404942143489/photo/1",13,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
228,233,847842811428974592,NaN,NaN,2017-03-31 16:07:33+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Rontu. He is described as a pal, cuddle bug, protector and constant shadow. 12/10, but he needs your help\n\n",NaN,NaN,NaN,"https://www.gofundme.com/help-save-rontu,https://twitter.com/dog_rates/status/847842811428974592/photo/1",12,10,Rontu,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
268,274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@0_kelvin_0 &gt;10/10 is reserved for puppos sorry Kevin,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
274,280,839549326359670784,NaN,NaN,2017-03-08 18:52:12+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Winston. He knows he's a little too big for the swing, but he doesn't care. Kindly requests a push. 12/10 would happily oblige",NaN,NaN,NaN,https://twitter.com/dog_rates/status/839549326359670784/photo/1,12,10,Winston,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
296,303,836397794269200385,NaN,NaN,2017-02-28 02:09:08+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Buddy. He ran into a glass door once. Now he's h*ckin skeptical. 13/10 empowering af (vid by Brittany Gaunt),8.178278e+17,4.196984e+09,2017-01-07 20:18:46 +0000,https://twitter.com/dog_rates/status/817827839487737858/video/1,13,10,Buddy,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
302,309,835536468978302976,NaN,NaN,2017-02-25 17:06:32+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Lola. Her hobbies include being precious af and using her foot as a toothbrush. 12/10 Lola requests your help\n\n,8.352641e+17,4.196984e+09,2017-02-24 23:04:14 +0000,"https://www.gofundme.com/lolas-life-saving-surgery-funds,https://twitter.com/dog_rates/status/835264098648616962/photo/1,https://twitter.com/dog_rates/status/835264098648616962/photo/1",12,10,Lola,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
475,497,813142292504645637,NaN,NaN,2016-12-25 22:00:04+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Everybody stop what you're doing and look at this dog with her tiny Santa hat. 13/10,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/813142292504645637/photo/1,https://twitter.com/dog_rates/status/813142292504645637/photo/1,https://twitter.com/dog_rates/status/813142292504645637/photo/1",13,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
477,499,813127251579564032,NaN,NaN,2016-12-25 21:00:18+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's an anonymous doggo that appears to be very done with Christmas. 11/10 cheer up pup,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/813127251579564032/photo/1,https://twitter.com/dog_rates/status/813127251579564032/photo/1",11,10,None,doggo,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
545,572,801285448605831168,NaN,NaN,2016-11-23 04:45:12+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",oh h*ck 10/10,NaN,NaN,NaN,https://twitter.com/dog_rates/status/801285448605831168/photo/1,10,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
798,869,761745352076779520,NaN,NaN,2016-08-06 02:06:59+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Guys.. we only rate dogs. Pls don't send any more pics of the Loch Ness Monster. Only send in dogs. Thank you. 11/10,NaN,NaN,NaN,https://twitter.com/dog_rates/status/761745352076779520/photo/1,11,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
934,1016,746906459439529985,7.468859e+17,4.196984e+09,2016-06-26 03:22:31+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","PUPDATE: can't see any. Even if I could, I couldn't reach them to pet. 0/10 much disappointment",NaN,NaN,NaN,https://twitter.com/dog_rates/status/746906459439529985/photo/1,0,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
946,1029,745712589599014916,NaN,NaN,2016-06-22 20:18:30+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Percy. He fell asleep at the wheel. Irresponsible af. 7/10 absolute menace on the roadway,NaN,NaN,NaN,https://twitter.com/dog_rates/status/745712589599014916/photo/1,7,10,Percy,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
987,1075,739623569819336705,NaN,NaN,2016-06-06 01:02:55+00:00,"<a href=""http://vine.co"" rel=""nofollow"">Vine - Make a Scene</a>",Here's a doggo that don't need no human. 12/10 independent af (vid by @MichelleLiuCee),NaN,NaN,NaN,https://vine.co/v/iY9Fr1I31U6,12,10,None,doggo,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
993,1083,738537504001953792,NaN,NaN,2016-06-03 01:07:16+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bayley. She fell asleep trying to escape her evil fence enclosure. 11/10 night night puppo,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/738537504001953792/photo/1,https://twitter.com/dog_rates/status/738537504001953792/photo/1",11,10,Bayley,None,None,None,puppo

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1027,1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023742988288/photo/1,204,170,this,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1093,1188,718454725339934721,NaN,NaN,2016-04-08 15:05:29+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This pic is old but I hadn't seen it until today and had to share. Creative af. 13/10 very good boy, would pet well",NaN,NaN,NaN,https://twitter.com/dog_rates/status/718454725339934721/photo/1,13,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1120,1215,715009755312439296,NaN,NaN,2016-03-30 02:56:24+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Siba. She's remarkably mobile. Very sleepy as well. 12/10 would happily transport,NaN,NaN,NaN,https://twitter.com/dog_rates/status/715009755312439296/photo/1,12,10,Siba,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1220,1319,706516534877929472,NaN,NaN,2016-03-06 16:27:23+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Please enjoy this pup in a cooler. Permanently ready for someone to throw a tennis ball his way. 12/10,NaN,NaN,NaN,https://twitter.com/dog_rates/status/706516534877929472/photo/1,12,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1228,1327,705975130514706432,NaN,NaN,2016-03-05 04:36:02+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Adele. Her tongue flies out of her mouth at random. It's a debilitating illness. 10/10 stay strong pupper,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/705975130514706432/photo/1,https://twitter.com/dog_rates/status/705975130514706432/photo/1",10,10,Adele,None,None,pupper,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1254,1354,703631701117943808,NaN,NaN,2016-02-27 17:24:05+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bella. Based on this picture she's at least 8ft tall (wow)! Must be rare. 11/10 would pet on tippy toes,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/703631701117943808/photo/1,https://twitter.com/dog_rates/status/703631701117943808/photo/1,https://twitter.com/dog_rates/status/703631701117943808/photo/1,https://twitter.com/dog_rates/status/703631701117943808/photo/1",11,10,Bella,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1265,1366,702671118226825216,NaN,NaN,2016-02-25 01:47:04+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Rambo &amp; Kiwi. Rambo's the pup with the sharp toes &amp; rad mohawk. One stays woke while one sleeps. 10/10 for both,NaN,NaN,NaN,https://twitter.com/dog_rates/status/702671118226825216/photo/1,10,10,Rambo,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1351,1456,695314793360662529,NaN,NaN,2016-02-04 18:35:39+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Colin. He really likes green beans. It's tearing his family apart. 10/10 please pray for Colin,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/695314793360662529/photo/1,https://twitter.com/dog_rates/status/695314793360662529/photo/1,https://twitter.com/dog_rates/status/695314793360662529/photo/1,https://twitter.com/dog_rates/status/695314793360662529/photo/1",10,10,Colin,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1516,1627,684594889858887680,NaN,NaN,2016-01-06 04:38:35+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","""FOR THE LAST TIME I DON'T WANNA PLAY TWISTER ALL THE SPOTS ARE GREY DAMN IT CINDY"" ...10/10",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684594889858887680/photo/1,10,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1634,1755,678774928607469569,NaN,NaN,2015-12-21 03:12:08+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Tug. He's not required to wear the cone he just wants his voice to project more clearly. 11/10,NaN,NaN,NaN,https://twitter.com/dog_rates/status/678774928607469569/photo/1,11,10,Tug,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1635,1756,678767140346941444,NaN,NaN,2015-12-21 02:41:11+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Mia. She makes awful decisions. 8/10,NaN,NaN,NaN,https://twitter.com/dog_rates/status/678767140346941444/photo/1,8,10,Mia,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1636,1757,678764513869611008,NaN,NaN,2015-12-21 02:30:45+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Meet Wilson. He got caught humping the futon. He's like ""dude, help me out here"" 10/10 I'd help Wilson out",NaN,NaN,NaN,https://twitter.com/dog_rates/status/678764513869611008/photo/1,10,10,Wilson,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1643,1764,678424312106393600,NaN,NaN,2015-12-20 03:58:55+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Crystal. She's a shitty fireman. No sense of urgency. People could be dying Crystal. 2/10 just irresponsible,NaN,NaN,NaN,https://twitter.com/dog_rates/status/678424312106393600/photo/1,2,10,Crystal,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1710,1832,676191832485810177,NaN,NaN,2015-12-14 00:07:50+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",These two pups just met and have instantly bonded. Spectacular scene. Mesmerizing af. 10/10 and 7/10 for blue dog,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/676191832485810177/photo/1,https://twitter.com/dog_rates/status/676191832485810177/photo/1,https://twitter.com/dog_rates/status/676191832485810177/photo/1",10,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1712,1834,676121918416756736,NaN,NaN,2015-12-13 19:30:01+00:00,"<a href=""http://vine.co"" rel=""nofollow"">Vine - Make a Scene</a>",Here we are witnessing a very excited dog. Clearly has no control over neck movements. 8/10 would still pet,NaN,NaN,NaN,https://vine.co/v/iZXg7VpeDAv,8,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1743,1867,675334060156301312,NaN,NaN,2015-12-11 15:19:21+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Good morning here's a grass pupper. 12/10,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/675334060156301312/photo/1,https://twitter.com/dog_rates/status/675334060156301312/photo/1",12,10,None,None,None,pupper,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1826,1951,673686845050527744,NaN,NaN,2015-12-07 02:13:55+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is George. He's upset that the 4th of July isn't everyday. 11/10,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673686845050527744/photo/1,11,10,George,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1843,1969,673317986296586240,NaN,NaN,2015-12-06 01:48:12+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Take a moment and appreciate how these two dogs fell asleep. Simply magnificent. 10/10 for both,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/673317986296586240/photo/1,https://twitter.com/dog_rates/status/673317986296586240/photo/1",10,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1847,1974,673148804208660480,NaN,NaN,2015-12-05 14:35:56+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Fletcher. He's had a ruff night. No more Fireball for Fletcher. 8/10 it'll be over soon pupper,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673148804208660480/photo/1,8,10,Fletcher,None,None,pupper,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1862,1989,672828477930868736,NaN,NaN,2015-12-04 17:23:04+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Jerry. He's a Timbuk Slytherin. Eats his pizza from the side first. Crushed that cup with his bare paws 9/10,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672828477930868736/photo/1,9,10,Jerry,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1900,2028,671866342182637568,NaN,NaN,2015-12-02 01:39:53+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Dylan. He can use a fork but clearly can't put on a sweatshirt correctly. Looks like a disgruntled teen. 10/10,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671866342182637568/photo/1,10,10,Dylan,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1928,2056,671357843010908160,NaN,NaN,2015-11-30 15:59:17+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Tfw she says hello from the other side. 9/10,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/671357843010908160/photo/1,https://twitter.com/dog_rates/status/671357843010908160/photo/1,https://twitter.com/dog_rates/status/671357843010908160/photo/1,https://twitter.com/dog_rates/status/671357843010908160/photo/1",9,10,None,None,None,None,None

,index,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2141,2274,667455448082227200,NaN,NaN,2015-11-19 21:32:34+00:00,"<a href=""http://twitter.com"" rel=""nofollow"">Twitter Web Client</a>",This is Reese and Twips. Reese protects Twips. Both think they're too good for seat belts. Simply reckless. 7/10s,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667455448082227200/photo/1,7,10,Reese,None,None,None,None

In [41]:
def category_correction(df, columns_list):
    '''progrmatically fills columns based on text source'''
    offending_rows = []
    # itterates through rows of dataframe
    for index, row in df.iterrows():
        #current values in columns
        current = [row[column] for column in columns_list]
        #print(index)
        #splitting text
        source = row.text.split()
        #checking if any words in text qualify for categorical classification
        for word in source:
            for value in columns_list:
                if value in word and pd.notnull(word) and word != 'None':
                    df.loc[index, value]= value
    return df

In [42]:
twitter_archive_clean = category_correction(twitter_archive_clean, ['doggo', 'floofer', 'pupper', 'puppo'])

#### Test

In [43]:
#checking to see if changes in offending rows were made. commented for space
#for i in offending_categorical_rows:
#    display(twitter_archive_clean[twitter_archive_clean.index == i])

In [44]:
print('The number of categorical rows with missing or innacurate categories is: ',len(category_accuracy(twitter_archive_clean, ['doggo', 'floofer', 'pupper', 'puppo'])))

The number of categorical rows with missing or innacurate categories is:  0

#### Define
Record Name list by hand, and then change names progratically

#### Code

In [45]:
twitter_archive.expanded_urls[649]

'https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1,https://twitter.com/dog_rates/status/792913359805018113/photo/1'

In [46]:
# Running this script again since observations have been dropped
incorrect_names = []
for index, row in twitter_archive_clean.iterrows():
    if row['name'][0].islower() and row['name'] != 'None' and pd.notnull(row['name']):
        incorrect_names.append((row['name'], index))
incorrect_names;

In [47]:
#print incorrect name text for manual checking, commented out for space
#for i, index in incorrect_names:
#    print(index)
#    print(twitter_archive_clean.text[index])
#    print()

In [48]:
name_list = ['roxy', 'Grace', 'puffie', 'Forrest', 'Zoey', 'Quizno', 'Wylie', 'Kip', 'Jacob', 'Rufus', 'Spork', 'Cherokee', 'Hemry', 'Alphred', 'Alfredo', 'Leroi', 'Berta', 'Chuk', 'Alfonso', 'Cheryl', 'Jessiga', 'Klint', 'Kohl', 'Daryl', 'Pepe', 'Octaviath', 'Johm']
#iterrating through all incorrect names (looping though all names and programmatically fixing may end up causing more problems than solving)
for i, index in incorrect_names:
    #set all incorrect names to 'None'
    twitter_archive_clean.at[index, 'name'] = 'None'
    #itterate through text to find a matching name
    for word in twitter_archive_clean.text[index].split():
        for name in name_list:
            #correct from None to name if there is a match
            if name in word:
                twitter_archive_clean.at[index, 'name'] = name

#### Test

In [49]:
# runnin "incorrect_names" script again to test if names were changed
#should only return 'puffie' and 'roxy', as those were the only name that was lowercase
incorrect_names = []
for index, row in twitter_archive_clean.iterrows():
    if row['name'][0].islower() and row['name'] != 'None' and pd.notnull(row['name']):
        incorrect_names.append((row['name'], index))
incorrect_names

[('roxy', 22), ('puffie', 55)]

In [50]:
#capitalize puffie and roxy
twitter_archive_clean.at[incorrect_names[0][1], 'name'] = 'Roxy'
twitter_archive_clean.at[incorrect_names[1][1], 'name'] = 'Puffie'

In [51]:
twitter_archive_clean.name[55], twitter_archive_clean.name[22]

('Puffie', 'Roxy')

#### Define
Drop columns "in_reply_to_status_id" "in_reply_to_user_id" "retweeted_status_id" "retweeted_status_user_id" "retweeted_status_timestamp"

#### Code

In [52]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219 entries, 0 to 2218
Data columns (total 18 columns):
index                         2219 non-null int64
tweet_id                      2219 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2219 non-null datetime64[ns, UTC]
source                        2219 non-null object
text                          2219 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2160 non-null object
rating_numerator              2219 non-null int64
rating_denominator            2219 non-null int64
name                          2219 non-null object
doggo                         2219 non-null object
floofer                       2219 non-null object
pupper                        2219 non-null object
puppo                         2219 non-null object
dtypes: datetime64[ns, UTC](1), float64(4), int64(4), object(9)
memory usage: 312.1+ KB

In [53]:
twitter_archive_clean.drop(columns=["in_reply_to_status_id", "in_reply_to_user_id", "retweeted_status_id", "retweeted_status_user_id", "retweeted_status_timestamp"], inplace = True)

#### Test

In [54]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219 entries, 0 to 2218
Data columns (total 13 columns):
index                 2219 non-null int64
tweet_id              2219 non-null int64
timestamp             2219 non-null datetime64[ns, UTC]
source                2219 non-null object
text                  2219 non-null object
expanded_urls         2160 non-null object
rating_numerator      2219 non-null int64
rating_denominator    2219 non-null int64
name                  2219 non-null object
doggo                 2219 non-null object
floofer               2219 non-null object
pupper                2219 non-null object
puppo                 2219 non-null object
dtypes: datetime64[ns, UTC](1), int64(4), object(8)
memory usage: 225.4+ KB

#### Define
Change id to string using astype

#### Code

In [55]:
twitter_archive_clean.tweet_id = twitter_archive_clean.tweet_id.astype(str);

#### Test

In [56]:
twitter_archive_clean.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219 entries, 0 to 2218
Data columns (total 13 columns):
index                 2219 non-null int64
tweet_id              2219 non-null object
timestamp             2219 non-null datetime64[ns, UTC]
source                2219 non-null object
text                  2219 non-null object
expanded_urls         2160 non-null object
rating_numerator      2219 non-null int64
rating_denominator    2219 non-null int64
name                  2219 non-null object
doggo                 2219 non-null object
floofer               2219 non-null object
pupper                2219 non-null object
puppo                 2219 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(9)
memory usage: 225.4+ KB

#### Define
Use str.extract on text to obtain new columns of numerator and denominator
Change new columns to float type using astype

#### Code

In [57]:
twitter_archive_clean['rating'] = twitter_archive_clean.text.str.extract(r'(\d+\.*\d*/\d+\.*\d*)')

In [58]:
twitter_archive_clean['rating'] = twitter_archive_clean['rating'].str.split('/')

In [59]:
twitter_archive_clean[['numerator','denominator']] = pd.DataFrame(twitter_archive_clean.rating.values.tolist(), index= twitter_archive_clean.index)

In [60]:
twitter_archive_clean = twitter_archive_clean.astype({"numerator":'float', "denominator":'float'})

In [61]:
twitter_archive_clean.drop(columns=['rating_numerator', 'rating_denominator', 'rating'], inplace = True)

#### Test

In [62]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219 entries, 0 to 2218
Data columns (total 13 columns):
index            2219 non-null int64
tweet_id         2219 non-null object
timestamp        2219 non-null datetime64[ns, UTC]
source           2219 non-null object
text             2219 non-null object
expanded_urls    2160 non-null object
name             2219 non-null object
doggo            2219 non-null object
floofer          2219 non-null object
pupper           2219 non-null object
puppo            2219 non-null object
numerator        2219 non-null float64
denominator      2219 non-null float64
dtypes: datetime64[ns, UTC](1), float64(2), int64(1), object(9)
memory usage: 225.4+ KB

In [63]:
twitter_archive_clean[twitter_archive_clean['numerator'] == 11.26]

,index,tweet_id,timestamp,source,text,expanded_urls,name,doggo,floofer,pupper,puppo,numerator,denominator
1596,1712,680494726643068929,2015-12-25 21:06:00+00:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10,https://twitter.com/dog_rates/status/680494726643068929/photo/1,None,None,None,pupper,None,11.26,10.0

#### Define
Drop Source and expanded url

#### Code

In [64]:
twitter_archive_clean.drop(columns=['source', 'expanded_urls'], inplace = True)

#### Test

In [65]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219 entries, 0 to 2218
Data columns (total 11 columns):
index          2219 non-null int64
tweet_id       2219 non-null object
timestamp      2219 non-null datetime64[ns, UTC]
text           2219 non-null object
name           2219 non-null object
doggo          2219 non-null object
floofer        2219 non-null object
pupper         2219 non-null object
puppo          2219 non-null object
numerator      2219 non-null float64
denominator    2219 non-null float64
dtypes: datetime64[ns, UTC](1), float64(2), int64(1), object(7)
memory usage: 190.8+ KB

#### Define
Manually change 881633300179243008's incorrect rating

#### Code

In [66]:
display(twitter_archive_clean[twitter_archive_clean.tweet_id == '881633300179243008'])

,index,tweet_id,timestamp,text,name,doggo,floofer,pupper,puppo,numerator,denominator
54,55,881633300179243008,2017-07-02 21:58:53+00:00,@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s,None,None,None,None,None,17.0,10.0

In [67]:
twitter_archive_clean.at[54, 'numerator'] = 13.0
twitter_archive_clean.at[54, 'denominator'] = 10.0

#### Test

In [68]:
display(twitter_archive_clean[twitter_archive_clean.tweet_id == '881633300179243008'])

,index,tweet_id,timestamp,text,name,doggo,floofer,pupper,puppo,numerator,denominator
54,55,881633300179243008,2017-07-02 21:58:53+00:00,@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s,None,None,None,None,None,13.0,10.0

#### Define
Use melt to change categories into one column

#### Code

In [69]:
twitter_archive_clean = pd.melt(twitter_archive_clean, id_vars = ['index', 'tweet_id', 'timestamp', 'text', 'name', 'numerator', 'denominator'], value_name = 'dog_stage')

In [70]:
twitter_archive_clean.drop(columns = 'variable', inplace = True)

In [71]:
#drop variable column and drop all duplicates
#twitter_archive_clean.drop(columns = ['variable'], inplace = True)
print('The number of duplicated rows is:', list(twitter_archive_clean.duplicated()).count(True))
twitter_archive_clean.drop_duplicates(inplace = True)

The number of duplicated rows is: 6252

In [88]:
twitter_archive_clean.reset_index(drop = True)

,tweet_id,timestamp,text,name,numerator,denominator,dog_stage
0,892420643555336193,2017-08-01 16:23:56+00:00,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10,Phineas,13.0,10.0,None
1,892177421306343426,2017-08-01 00:17:27+00:00,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10",Tilly,13.0,10.0,None
2,891815181378084864,2017-07-31 00:18:03+00:00,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10,Archie,12.0,10.0,None
3,891689557279858688,2017-07-30 15:58:51+00:00,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us,Darla,13.0,10.0,None
4,891327558926688256,2017-07-29 16:00:24+00:00,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek",Franklin,12.0,10.0,None
5,891087950875897856,2017-07-29 00:08:17+00:00,Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek,None,13.0,10.0,None
6,890971913173991426,2017-07-28 16:27:12+00:00,Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more things by clicking below\n\n,Jax,13.0,10.0,None
7,890729181411237888,2017-07-28 00:22:40+00:00,When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10,None,13.0,10.0,None
8,890609185150312448,2017-07-27 16:25:51+00:00,This is Zoey. She doesn't want to be one of the scary sharks. Just wants to be a snuggly pettable boatpet. 13/10 #BarkWeek,Zoey,13.0,10.0,None
9,890240255349198849,2017-07-26 15:59:51+00:00,This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate,Cassie,14.0,10.0,doggo
10,890006608113172480,2017-07-26 00:31:25+00:00,This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13/10 would risk a petting #BarkWeek,Koda,13.0,10.0,None
11,889880896479866881,2017-07-25 16:11:53+00:00,This is Bruno. He is a service shark. Only gets out of the water to assist you. 13/10 terrifyingly good boy,Bruno,13.0,10.0,None
12,889665388333682689,2017-07-25 01:55:32+00:00,Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10,None,13.0,10.0,None
13,889638837579907072,2017-07-25 00:10:02+00:00,This is Ted. He does his best. Sometimes that's not enough. But it's ok. 12/10 would assist,Ted,12.0,10.0,None
14,889531135344209921,2017-07-24 17:02:04+00:00,This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 puppared puppo #BarkWeek,Stuart,13.0,10.0,None
15,889278841981685760,2017-07-24 00:19:32+00:00,This is Oliver. You're witnessing one of his many brutal attacks. Seems to be playing with his victim. 13/10 fr*ckin frightening #BarkWeek,Oliver,13.0,10.0,None
16,888917238123831296,2017-07-23 00:22:39+00:00,This is Jim. He found a fren. Taught him how to sit like the good boys. 12/10 for both,Jim,12.0,10.0,None
17,888804989199671297,2017-07-22 16:56:37+00:00,This is Zeke. He has a new stick. Very proud of it. Would like you to throw it for him without taking it. 13/10 would do my best,Zeke,13.0,10.0,None
18,888554962724278272,2017-07-22 00:23:06+00:00,This is Ralphus. He's powering up. Attempting maximum borkdrive. 13/10 inspirational af,Ralphus,13.0,10.0,None
19,888202515573088257,2017-07-21 01:02:36+00:00,This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her,Canela,13.0,10.0,None
20,888078434458587136,2017-07-20 16:49:33+00:00,This is Gerald. He was just told he didn't get the job he interviewed for. A h*ckin injustice. 12/10 didn't want the job anyway,Gerald,12.0,10.0,None
21,887705289381826560,2017-07-19 16:06:48+00:00,This is Jeffrey. He has a monopoly on the pool noodles. Currently running a 'boop for two' midweek sale. 13/10 h*ckin strategic,Jeffrey,13.0,10.0,None
22,887517139158093824,2017-07-19 03:39:09+00:00,I've yet to rate a Venezuelan Hover Wiener. This is such an honor. 14/10 paw-inspiring af (IG: roxy.thedoxy),Roxy,14.0,10.0,None
23,887343217045368832,2017-07-18 16:08:03+00:00,You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo),None,13.0,10.0,None
24,887101392804085760,2017-07-18 00:07:08+00:00,This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof,None,12.0,10.0,None
25,886983233522544640,2017-07-17 16:17:36+00:00,This is Maya. She's very shy. Rarely leaves her cup. 13/10 would find her an environment to thrive in,Maya,13.0,10.0,None
26,886736880519319552,2017-07-16 23:58:41+00:00,"This is Mingus. He's a wonderful father to his smol pup. Confirmed 13/10, but he needs your help\n\n",Mingus,13.0,10.0,None
27,886680336477933568,2017-07-16 20:14:00+00:00,This is Derek. He's late for a dog meeting. 13/10 pet...al to the metal,Derek,13.0,10.0,None
28,886366144734445568,2017-07-15 23:25:31+00:00,This is Roscoe. Another pupper fallen victim to spontaneous tongue ejections. Get the BlepiPen immediate. 12/10 deep breaths Roscoe,Roscoe,12.0,10.0,None
29,886267009285017600,2017-07-15 16:51:35+00:00,@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extreme caution,None,12.0,10.0,None
...,...,...,...,...,...,...,...
2594,871879754684805121,2017-06-06 00:01:46+00:00,Say hello to Lassie. She's celebrating #PrideMonth by being a splendid mix of astute and adorable. Proudly supupporting her owner. 13/10,Lassie,13.0,10.0,puppo
2595,867421006826221569,2017-05-24 16:44:18+00:00,This is Shikha. She just watched you drop a skittle on the ground and still eat it. Could not be less impressed. 12/10 superior puppo,Shikha,12.0,10.0,puppo
2596,866686824827068416,2017-05-22 16:06:55+00:00,This is Lili. She can't believe you betrayed her with bath time. Never looking you in the eye again. 12/10 would puppologize profusely,Lili,12.0,10.0,puppo
2597,859607811541651456,2017-05-03 03:17:27+00:00,Sorry for the lack of posts today. I came home from school and had to spend quality time with my puppo. Her name is Zoey and she's 13/10,None,13.0,10.0,puppo
2598,858843525470990336,2017-05-01 00:40:27+00:00,I have stumbled puppon a doggo painting party. They're looking to be the next Pupcasso or Puppollock. All 13/10 would put it on the fridge,None,13.0,10.0,puppo
2599,855851453814013952,2017-04-22 18:31:02+00:00,Here's a puppo participating in the #ScienceMarch. Cleverly disguising her own doggo agenda. 13/10 would keep the planet habitable for,None,13.0,10.0,puppo
2600,848213670039564288,2017-04-01 16:41:12+00:00,Jerry just apuppologized to me. He said there was no ill-intent to the slippage. I overreacted I admit. Pupgraded to an 11/10 would pet,None,11.0,10.0,puppo
2601,840698636975636481,2017-03-11 22:59:09+00:00,@0_kelvin_0 &gt;10/10 is reserved for puppos sorry Kevin,None,10.0,10.0,puppo
2602,837366284874571778,2017-03-02 18:17:34+00:00,This is Lucy. She has a portrait of herself on her ear. Excellent for identification pupposes. 13/10 innovative af,Lucy,13.0,10.0,puppo
2603,825535076884762624,2017-01-29 02:44:34+00:00,Here's a very loving and accepting puppo. Appears to have read her Constitution well. 14/10 would pat head approvingly,None,14.0,10.0,puppo
2604,825120256414846976,2017-01-27 23:16:13+00:00,Say hello to Pablo. He's one gorgeous puppo. A true 12/10. Click the link to see why Pablo requests your assistance\n\n,Pablo,12.0,10.0,puppo
2605,825026590719483904,2017-01-27 17:04:02+00:00,Say hello to Pablo. He's one gorgeous puppo. A true 12/10. Click the link to see why Pablo requests your assistance\n\n,Pablo,12.0,10.0,puppo
2606,822872901745569793,2017-01-21 18:26:02+00:00,Here's a super supportive puppo participating in the Toronto #WomensMarch today. 13/10,None,13.0,10.0,puppo
2607,820013781606658049,2017-01-13 21:04:55+00:00,This is Oliver. He has dreams of being a service puppo so he can help his owner. 13/10 selfless af\n\nmake it happen:\n,Oliver,13.0,10.0,puppo
2608,819952236453363712,2017-01-13 17:00:21+00:00,This is Oliver. He has dreams of being a service puppo so he can help his owner. 13/10 selfless af\n\nmake it happen:\n,Oliver,13.0,10.0,puppo
2609,816829038950027264,2017-01-05 02:09:53+00:00,This is Betty. She's assisting with the dishes. Such a good puppo. 12/10 h*ckin helpful af,Betty,12.0,10.0,puppo
2610,805826884734976000,2016-12-05 17:31:15+00:00,This is Duke. He is not a fan of the pupporazzi. 12/10,Duke,12.0,10.0,puppo
2611,805823200554876929,2016-12-05 17:16:37+00:00,This is Reginald. He's one magical puppo. Aerodynamic af. 12/10 would catch,Reginald,12.0,10.0,puppo
2612,803773340896923648,2016-11-30 01:31:12+00:00,This is Diogi. He fell in the pool as soon as he was brought home. Clumsy puppo. 12/10 would pet until dry,Diogi,12.0,10.0,puppo
2613,802239329049477120,2016-11-25 19:55:35+00:00,This is Loki. He'll do your taxes for you. Can also make room in your budget for all the things you bought today. 12/10 what a puppo,Loki,12.0,10.0,puppo
2614,796563435802726400,2016-11-10 04:01:37+00:00,I want to finally rate this iconic puppo who thinks the parade is all for him. 13/10 would absolutely attend,None,13.0,10.0,puppo
2615,793195938047070209,2016-10-31 21:00:23+00:00,Say hello to Lily. She's pupset that her costume doesn't fit as well as last year. 12/10 poor puppo,Lily,12.0,10.0,puppo
2616,787717603741622272,2016-10-16 18:11:26+00:00,This is Tonks. She is a service puppo. Can hear a caterpillar hiccup from 7 miles away. 13/10 would follow anywhere,Tonks,13.0,10.0,puppo
2617,786051337297522688,2016-10-12 03:50:17+00:00,13/10 for breakdancing puppo @shibbnbot,None,13.0,10.0,puppo
2618,756275833623502848,2016-07-21 23:53:04+00:00,When ur older siblings get to play in the deep end but dad says ur not old enough. Maybe one day puppo. All 10/10,None,10.0,10.0,puppo
2619,752519690950500352,2016-07-11 15:07:30+00:00,Hopefully this puppo on a swing will help get you through your Monday. 11/10 would push,None,11.0,10.0,puppo
2620,751132876104687617,2016-07-07 19:16:47+00:00,This is Cooper. He's just so damn happy. 10/10 what's your secret puppo?,Cooper,10.0,10.0,puppo
2621,744995568523612160,2016-06-20 20:49:19+00:00,This is Abby. She got her face stuck in a glass. Churlish af. 9/10 rookie move puppo,Abby,9.0,10.0,puppo
2622,743253157753532416,2016-06-16 01:25:36+00:00,"This is Kilo. He cannot reach the snackum. Nifty tongue, but not nifty enough. 10/10 maybe one day puppo",Kilo,10.0,10.0,puppo
2623,738537504001953792,2016-06-03 01:07:16+00:00,This is Bayley. She fell asleep trying to escape her evil fence enclosure. 11/10 night night puppo,Bayley,11.0,10.0,puppo

#### Test

In [73]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2624 entries, 0 to 7650
Data columns (total 7 columns):
tweet_id       2624 non-null object
timestamp      2624 non-null datetime64[ns, UTC]
text           2624 non-null object
name           2624 non-null object
numerator      2624 non-null float64
denominator    2624 non-null float64
dog_stage      2624 non-null object
dtypes: datetime64[ns, UTC](1), float64(2), object(4)
memory usage: 164.0+ KB

## Predicts
#### Quality
- prediction dog breeds have inconsistent casing
- column titles should be be full names
- change id to string
- extract predictions for images where predictions are both dogs and above 70% confidence to find 'breed'
    - If our confidence level is too low, then our statements become less meaningful. However, because I am not sure how to test the accuracy of the predictions, I will choose a lowish confidence level since I am aware that many of the pictures will contain dogs.
- predictions should be lower case
- predictions should replace underscore with whitespace

### Tidiness

#### Define
Rename all columns to full names using pd.rename

#### Code

In [74]:
predicts_clean.rename(columns = {'img_num':'image_number', 'p1':'prediction1', 'p1_conf':'prediction1_confidence', 'p1_dog':'prediction1_dog', 'p2':'prediction2', 'p2_conf':'prediction2_confidence', 'p2_dog':'prediction2_dog', 'p3':'prediction3', 'p3_conf':'prediction3_confidence', 'p3_dog':'prediction3_dog'}, inplace = True)

#### Test

In [75]:
list(predicts_clean)

['tweet_id',
 'jpg_url',
 'image_number',
 'prediction1',
 'prediction1_confidence',
 'prediction1_dog',
 'prediction2',
 'prediction2_confidence',
 'prediction2_dog',
 'prediction3',
 'prediction3_confidence',
 'prediction3_dog']

#### Define
use as type to change tweet_id to string

#### Code

In [76]:
predicts_clean.tweet_id = predicts_clean.tweet_id.astype(str)

#### Test

In [77]:
predicts_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id                  2075 non-null object
jpg_url                   2075 non-null object
image_number              2075 non-null int64
prediction1               2075 non-null object
prediction1_confidence    2075 non-null float64
prediction1_dog           2075 non-null bool
prediction2               2075 non-null object
prediction2_confidence    2075 non-null float64
prediction2_dog           2075 non-null bool
prediction3               2075 non-null object
prediction3_confidence    2075 non-null float64
prediction3_dog           2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

#### Define
use str.replace and str.lower to standardize all predictions

#### Code

In [78]:
predicts_clean.prediction1 = predicts_clean.prediction1.str.replace('_', ' ').str.lower()
predicts_clean.prediction2 = predicts_clean.prediction2.str.replace('_', ' ').str.lower()
predicts_clean.prediction3 = predicts_clean.prediction3.str.replace('_', ' ').str.lower();

#### Test

In [79]:
predicts_clean

,tweet_id,jpg_url,image_number,prediction1,prediction1_confidence,prediction1_dog,prediction2,prediction2_confidence,prediction2_dog,prediction3,prediction3_confidence,prediction3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,welsh springer spaniel,0.465074,True,collie,0.156665,True,shetland sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature pinscher,0.074192,True,rhodesian ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,german shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,rhodesian ridgeback,0.408143,True,redbone,0.360687,True,miniature pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature pinscher,0.560311,True,rottweiler,0.243682,True,doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,bernese mountain dog,0.651137,True,english springer,0.263788,True,greater swiss mountain dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box turtle,0.933012,False,mud turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,tibetan mastiff,0.058279,True,fur coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping cart,0.962465,False,shopping basket,0.014594,False,golden retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature poodle,0.201493,True,komondor,0.192305,True,soft-coated wheaten terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden retriever,0.775930,True,tibetan mastiff,0.093718,True,labrador retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,gordon setter,0.503672,True,yorkshire terrier,0.174201,True,pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,walker hound,0.260857,True,english foxhound,0.175382,True,ibizan hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull mastiff,0.404722,True,french bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,german shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,lhasa,0.582330,True,shih-tzu,0.166192,True,dandie dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,english setter,0.298617,True,newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,italian greyhound,0.176053,True,toy terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,maltese dog,0.857531,True,toy poodle,0.063064,True,miniature poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed sloth,0.914671,False,otter,0.015250,False,great grey owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden retriever,0.858744,True,chesapeake bay retriever,0.054787,True,labrador retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,siberian husky,0.147655,True,eskimo dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated wheaten terrier,0.326467,True,afghan hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,chihuahua,0.978108,True,toy terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,french bulldog,0.999201,True,chihuahua,0.000361,True,boston bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports car,0.139952,False,car wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,great pyrenees,0.186136,True,dandie dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,chihuahua,0.793469,True,toy terrier,0.143528,True,can opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,samoyed,0.733942,True,eskimo dog,0.035029,True,staffordshire bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/887343120832229379/pu/img/6HSuFrW1lzI_9Mht.jpg,1,mexican hairless,0.330741,True,sea lion,0.275645,False,weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,pembroke,0.809197,True,rhodesian ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/887517108413886465/pu/img/WanJKwssZj4VJvL9.jpg,1,limousine,0.130432,False,tow truck,0.029175,False,shopping cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,french bulldog,0.995026,True,pug,0.000932,True,bull mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,pembroke,0.809197,True,rhodesian ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,siberian husky,0.700377,True,eskimo dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden retriever,0.469760,True,labrador retriever,0.184172,True,english setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden retriever,0.714719,True,tibetan mastiff,0.120184,True,labrador retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/889278779352338437/pu/img/VlbFB3v8H8VwzVNY.jpg,1,whippet,0.626152,True,borzoi,0.194742,True,saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden retriever,0.953442,True,labrador retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,french bulldog,0.991650,True,boxer,0.002129,True,staffordshire bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,pembroke,0.966327,True,cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,french bulldog,0.377417,True,labrador retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,samoyed,0.957979,True,pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,pembroke,0.511319,True,cardigan,0.451038,True,chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,irish terrier,0.487574,True,irish setter,0.193054,True,chesapeake bay retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,pomeranian,0.566142,True,eskimo dog,0.178406,True,pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,appenzeller,0.341703,True,border collie,0.199287,True,ice lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,chesapeake bay retriever,0.425595,True,irish terrier,0.116317,True,indian elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,english springer,0.225770,True,german short-haired pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper towel,0.170278,False,labrador retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,chihuahua,0.323581,True,pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

#### Define
create a new columns called dog_breed50, dog_breed60, dog_breed70 etc. with the final numbers representing the minimum level of confidence, given that the picture is actually a dog.

#### Code

In [80]:
#predicts 1 2 and 3 are in descending order of confidence
print(predicts_clean.shape, list(predicts_clean.prediction1_confidence > predicts_clean.prediction2_confidence).count(True),
list(predicts_clean.prediction2_confidence > predicts_clean.prediction3_confidence).count(True))

(2075, 12) 2075 2075

In [81]:
for index, row in predicts_clean.iterrows():
    predicts_clean.loc[index, 'dog_breed50'] = 'None'
    predicts_clean.loc[index, 'dog_breed60'] = 'None'
    predicts_clean.loc[index, 'dog_breed70'] = 'None'
    predicts_clean.loc[index, 'dog_breed80'] = 'None'
    predicts_clean.loc[index, 'dog_breed90'] = 'None'
#check if picture is a dog and if confidence is high enough
    if row.prediction1_dog == True and row.prediction1_confidence >= .50:
        predicts_clean.loc[index, 'dog_breed50'] = row.prediction1
        if row.prediction1_confidence >= .60:
            predicts_clean.loc[index, 'dog_breed60'] = row.prediction1
            if row.prediction1_confidence >= .70:
                predicts_clean.loc[index, 'dog_breed70'] = row.prediction1
                if row.prediction1_confidence >= .80:
                    predicts_clean.loc[index, 'dog_breed80'] = row.prediction1
                    if row.prediction1_confidence >= .90:
                        predicts_clean.loc[index, 'dog_breed90'] = row.prediction1
#in the case that prediction1 is not a dog, but prediction 2 is (and the confidence is still high), this is probably rare        
    elif row.prediction2_dog == True and row.prediction2_confidence >= .50:
        predicts_clean.loc[index, 'dog_breed50'] = row.prediction2
        if row.prediction1_confidence >= .60:
            predicts_clean.loc[index, 'dog_breed60'] = row.prediction2
            if row.prediction1_confidence >= .70:
                predicts_clean.loc[index, 'dog_breed70'] = row.prediction2
                if row.prediction1_confidence >= .80:
                    predicts_clean.loc[index, 'dog_breed80'] = row.prediction2
                    if row.prediction1_confidence >= .90:
                        predicts_clean.loc[index, 'dog_breed90'] = row.prediction2
#same as above, but an even rarer case for prediction3      
    elif row.prediction3_dog == True and row.prediction3_confidence >= .50:
        predicts_clean.loc[index, 'dog_breed50'] = row.prediction3
        if row.prediction1_confidence >= .60:
            predicts_clean.loc[index, 'dog_breed60'] = row.prediction3
            if row.prediction1_confidence >= .70:
                predicts_clean.loc[index, 'dog_breed70'] = row.prediction3
                if row.prediction1_confidence >= .80:
                    predicts_clean.loc[index, 'dog_breed80'] = row.prediction3
                    if row.prediction1_confidence >= .90:
                        predicts_clean.loc[index, 'dog_breed90'] = row.prediction3

#### Test

In [82]:
predicts_clean;

# Twitter API
`twitter_api`
#### Quality
- change id to string (should have done this when extracting)
- drop expanded_urls
#### Tidiness
- tables need to be reorganized
    - 1 for souce metadata (urls

#### Define
change id to strings

#### Code

In [83]:
twitter_api_clean.id = twitter_api_clean.id.astype(str)

#### Test

In [84]:
twitter_api_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 4 columns):
id                2356 non-null object
favorite_count    2356 non-null object
retweet_count     2356 non-null object
expanded_url      2299 non-null object
dtypes: object(4)
memory usage: 73.7+ KB

#### Define
drop expanded urls (not neccessary for analysis)

#### Code

In [85]:
twitter_api_clean.drop(columns = 'expanded_url', inplace = True)

#### Test

In [86]:
twitter_api_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 3 columns):
id                2356 non-null object
favorite_count    2356 non-null object
retweet_count     2356 non-null object
dtypes: object(3)
memory usage: 55.3+ KB

# Merge and Store

In [87]:
twitter_archive_clean

,tweet_id,timestamp,text,name,numerator,denominator,dog_stage
0,892420643555336193,2017-08-01 16:23:56+00:00,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10,Phineas,13.0,10.0,None
1,892177421306343426,2017-08-01 00:17:27+00:00,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10",Tilly,13.0,10.0,None
2,891815181378084864,2017-07-31 00:18:03+00:00,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10,Archie,12.0,10.0,None
3,891689557279858688,2017-07-30 15:58:51+00:00,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us,Darla,13.0,10.0,None
4,891327558926688256,2017-07-29 16:00:24+00:00,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek",Franklin,12.0,10.0,None
5,891087950875897856,2017-07-29 00:08:17+00:00,Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek,None,13.0,10.0,None
6,890971913173991426,2017-07-28 16:27:12+00:00,Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more things by clicking below\n\n,Jax,13.0,10.0,None
7,890729181411237888,2017-07-28 00:22:40+00:00,When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10,None,13.0,10.0,None
8,890609185150312448,2017-07-27 16:25:51+00:00,This is Zoey. She doesn't want to be one of the scary sharks. Just wants to be a snuggly pettable boatpet. 13/10 #BarkWeek,Zoey,13.0,10.0,None
9,890240255349198849,2017-07-26 15:59:51+00:00,This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate,Cassie,14.0,10.0,doggo
10,890006608113172480,2017-07-26 00:31:25+00:00,This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13/10 would risk a petting #BarkWeek,Koda,13.0,10.0,None
11,889880896479866881,2017-07-25 16:11:53+00:00,This is Bruno. He is a service shark. Only gets out of the water to assist you. 13/10 terrifyingly good boy,Bruno,13.0,10.0,None
12,889665388333682689,2017-07-25 01:55:32+00:00,Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10,None,13.0,10.0,None
13,889638837579907072,2017-07-25 00:10:02+00:00,This is Ted. He does his best. Sometimes that's not enough. But it's ok. 12/10 would assist,Ted,12.0,10.0,None
14,889531135344209921,2017-07-24 17:02:04+00:00,This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 puppared puppo #BarkWeek,Stuart,13.0,10.0,None
15,889278841981685760,2017-07-24 00:19:32+00:00,This is Oliver. You're witnessing one of his many brutal attacks. Seems to be playing with his victim. 13/10 fr*ckin frightening #BarkWeek,Oliver,13.0,10.0,None
16,888917238123831296,2017-07-23 00:22:39+00:00,This is Jim. He found a fren. Taught him how to sit like the good boys. 12/10 for both,Jim,12.0,10.0,None
17,888804989199671297,2017-07-22 16:56:37+00:00,This is Zeke. He has a new stick. Very proud of it. Would like you to throw it for him without taking it. 13/10 would do my best,Zeke,13.0,10.0,None
18,888554962724278272,2017-07-22 00:23:06+00:00,This is Ralphus. He's powering up. Attempting maximum borkdrive. 13/10 inspirational af,Ralphus,13.0,10.0,None
19,888202515573088257,2017-07-21 01:02:36+00:00,This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her,Canela,13.0,10.0,None
20,888078434458587136,2017-07-20 16:49:33+00:00,This is Gerald. He was just told he didn't get the job he interviewed for. A h*ckin injustice. 12/10 didn't want the job anyway,Gerald,12.0,10.0,None
21,887705289381826560,2017-07-19 16:06:48+00:00,This is Jeffrey. He has a monopoly on the pool noodles. Currently running a 'boop for two' midweek sale. 13/10 h*ckin strategic,Jeffrey,13.0,10.0,None
22,887517139158093824,2017-07-19 03:39:09+00:00,I've yet to rate a Venezuelan Hover Wiener. This is such an honor. 14/10 paw-inspiring af (IG: roxy.thedoxy),Roxy,14.0,10.0,None
23,887343217045368832,2017-07-18 16:08:03+00:00,You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo),None,13.0,10.0,None
24,887101392804085760,2017-07-18 00:07:08+00:00,This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof,None,12.0,10.0,None
25,886983233522544640,2017-07-17 16:17:36+00:00,This is Maya. She's very shy. Rarely leaves her cup. 13/10 would find her an environment to thrive in,Maya,13.0,10.0,None
26,886736880519319552,2017-07-16 23:58:41+00:00,"This is Mingus. He's a wonderful father to his smol pup. Confirmed 13/10, but he needs your help\n\n",Mingus,13.0,10.0,None
27,886680336477933568,2017-07-16 20:14:00+00:00,This is Derek. He's late for a dog meeting. 13/10 pet...al to the metal,Derek,13.0,10.0,None
28,886366144734445568,2017-07-15 23:25:31+00:00,This is Roscoe. Another pupper fallen victim to spontaneous tongue ejections. Get the BlepiPen immediate. 12/10 deep breaths Roscoe,Roscoe,12.0,10.0,None
29,886267009285017600,2017-07-15 16:51:35+00:00,@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extreme caution,None,12.0,10.0,None
...,...,...,...,...,...,...,...
6761,871879754684805121,2017-06-06 00:01:46+00:00,Say hello to Lassie. She's celebrating #PrideMonth by being a splendid mix of astute and adorable. Proudly supupporting her owner. 13/10,Lassie,13.0,10.0,puppo
6783,867421006826221569,2017-05-24 16:44:18+00:00,This is Shikha. She just watched you drop a skittle on the ground and still eat it. Could not be less impressed. 12/10 superior puppo,Shikha,12.0,10.0,puppo
6788,866686824827068416,2017-05-22 16:06:55+00:00,This is Lili. She can't believe you betrayed her with bath time. Never looking you in the eye again. 12/10 would puppologize profusely,Lili,12.0,10.0,puppo
6820,859607811541651456,2017-05-03 03:17:27+00:00,Sorry for the lack of posts today. I came home from school and had to spend quality time with my puppo. Her name is Zoey and she's 13/10,None,13.0,10.0,puppo
6824,858843525470990336,2017-05-01 00:40:27+00:00,I have stumbled puppon a doggo painting party. They're looking to be the next Pupcasso or Puppollock. All 13/10 would put it on the fridge,None,13.0,10.0,puppo
6843,855851453814013952,2017-04-22 18:31:02+00:00,Here's a puppo participating in the #ScienceMarch. Cleverly disguising her own doggo agenda. 13/10 would keep the planet habitable for,None,13.0,10.0,puppo
6880,848213670039564288,2017-04-01 16:41:12+00:00,Jerry just apuppologized to me. He said there was no ill-intent to the slippage. I overreacted I admit. Pupgraded to an 11/10 would pet,None,11.0,10.0,puppo
6925,840698636975636481,2017-03-11 22:59:09+00:00,@0_kelvin_0 &gt;10/10 is reserved for puppos sorry Kevin,None,10.0,10.0,puppo
6946,837366284874571778,2017-03-02 18:17:34+00:00,This is Lucy. She has a portrait of herself on her ear. Excellent for identification pupposes. 13/10 innovative af,Lucy,13.0,10.0,puppo
7040,825535076884762624,2017-01-29 02:44:34+00:00,Here's a very loving and accepting puppo. Appears to have read her Constitution well. 14/10 would pat head approvingly,None,14.0,10.0,puppo
7042,825120256414846976,2017-01-27 23:16:13+00:00,Say hello to Pablo. He's one gorgeous puppo. A true 12/10. Click the link to see why Pablo requests your assistance\n\n,Pablo,12.0,10.0,puppo
7043,825026590719483904,2017-01-27 17:04:02+00:00,Say hello to Pablo. He's one gorgeous puppo. A true 12/10. Click the link to see why Pablo requests your assistance\n\n,Pablo,12.0,10.0,puppo
7058,822872901745569793,2017-01-21 18:26:02+00:00,Here's a super supportive puppo participating in the Toronto #WomensMarch today. 13/10,None,13.0,10.0,puppo
7080,820013781606658049,2017-01-13 21:04:55+00:00,This is Oliver. He has dreams of being a service puppo so he can help his owner. 13/10 selfless af\n\nmake it happen:\n,Oliver,13.0,10.0,puppo
7081,819952236453363712,2017-01-13 17:00:21+00:00,This is Oliver. He has dreams of being a service puppo so he can help his owner. 13/10 selfless af\n\nmake it happen:\n,Oliver,13.0,10.0,puppo
7106,816829038950027264,2017-01-05 02:09:53+00:00,This is Betty. She's assisting with the dishes. Such a good puppo. 12/10 h*ckin helpful af,Betty,12.0,10.0,puppo
7175,805826884734976000,2016-12-05 17:31:15+00:00,This is Duke. He is not a fan of the pupporazzi. 12/10,Duke,12.0,10.0,puppo
7176,805823200554876929,2016-12-05 17:16:37+00:00,This is Reginald. He's one magical puppo. Aerodynamic af. 12/10 would catch,Reginald,12.0,10.0,puppo
7184,803773340896923648,2016-11-30 01:31:12+00:00,This is Diogi. He fell in the pool as soon as he was brought home. Clumsy puppo. 12/10 would pet until dry,Diogi,12.0,10.0,puppo
7197,802239329049477120,2016-11-25 19:55:35+00:00,This is Loki. He'll do your taxes for you. Can also make room in your budget for all the things you bought today. 12/10 what a puppo,Loki,12.0,10.0,puppo
7243,796563435802726400,2016-11-10 04:01:37+00:00,I want to finally rate this iconic puppo who thinks the parade is all for him. 13/10 would absolutely attend,None,13.0,10.0,puppo
7267,793195938047070209,2016-10-31 21:00:23+00:00,Say hello to Lily. She's pupset that her costume doesn't fit as well as last year. 12/10 poor puppo,Lily,12.0,10.0,puppo
7307,787717603741622272,2016-10-16 18:11:26+00:00,This is Tonks. She is a service puppo. Can hear a caterpillar hiccup from 7 miles away. 13/10 would follow anywhere,Tonks,13.0,10.0,puppo
7316,786051337297522688,2016-10-12 03:50:17+00:00,13/10 for breakdancing puppo @shibbnbot,None,13.0,10.0,puppo
7502,756275833623502848,2016-07-21 23:53:04+00:00,When ur older siblings get to play in the deep end but dad says ur not old enough. Maybe one day puppo. All 10/10,None,10.0,10.0,puppo
7524,752519690950500352,2016-07-11 15:07:30+00:00,Hopefully this puppo on a swing will help get you through your Monday. 11/10 would push,None,11.0,10.0,puppo
7538,751132876104687617,2016-07-07 19:16:47+00:00,This is Cooper. He's just so damn happy. 10/10 what's your secret puppo?,Cooper,10.0,10.0,puppo
7609,744995568523612160,2016-06-20 20:49:19+00:00,This is Abby. She got her face stuck in a glass. Churlish af. 9/10 rookie move puppo,Abby,9.0,10.0,puppo
7622,743253157753532416,2016-06-16 01:25:36+00:00,"This is Kilo. He cannot reach the snackum. Nifty tongue, but not nifty enough. 10/10 maybe one day puppo",Kilo,10.0,10.0,puppo
7650,738537504001953792,2016-06-03 01:07:16+00:00,This is Bayley. She fell asleep trying to escape her evil fence enclosure. 11/10 night night puppo,Bayley,11.0,10.0,puppo

# Analysis

(jotting ideas down early so as to not forget)
### Motivating Questions:
- Do higher "ratings" correlate with higher number of retweets? (Must define ratings. Std might be useful)
- Investigate which is more "popular": Cute or Funny. Cute defined by Kindchenschema and funny defined by Benign Violation.
- Within the categories of cuteness and funniness, are more extreme examples more popular? Measured by retweets.
- What are observed characteristics of the top 3 most popular tweets? Is there a theme?

Although the ratings individually do not seem to make much sense due to the numerator exceeding the denominator, perhaps the ratings can be better understood as a decimal score, with higher scores indicating higher approval.